
Interest Calculator Assignment/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
Interest Calculator Assignment/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
Crypto Trading Assignment/obj/Debug/net8.0/ConsoleApp2.AssemblyInfo.cs
Assign4/obj/Debug/net8.0/Assign4.AssemblyInfoInputs.cache
Assign3/obj/Debug/net8.0/Assign3-2024-RLaw.AssemblyInfo.cs
Assign3/obj/Debug/net8.0/Assign3-2024-RLaw.AssemblyInfoInputs.cache
Assign4/obj/Debug/net8.0/Assign4.AssemblyInfo.cs
Assign4/obj/Debug/net8.0/Assign4.AssemblyInfoInputs.cache
Crypto Trading Assignment/obj/Debug/net8.0/ConsoleApp2.AssemblyInfo.cs
Crypto Trading Assignment/obj/Debug/net8.0/ConsoleApp2.AssemblyInfoInputs.cache
Interest Calculator Assignment/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
Interest Calculator Assignment/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
