
.container {
    width: 965px;
    margin: 0 auto;
    line-height: 1.4;
}

body {
    background-color: #d8d8d8;
    padding: 24px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.foreword {
    display: flex;
    color: white;
    flex-wrap: wrap;
    background-color: rgb(200, 0, 0);
    gap: 14px;
    padding: 20px 20px 150px 20px;
    border-radius: 15px;
    margin-bottom: -140px;
}

.foreword h2 {
    margin-bottom: 5px;
}

.foreword h3 {
    margin-bottom: 10px;
}

.foreword section {
    padding: 0px 10px 10px 10px;
    width: 30%;
    border-left: 1px solid white;
    margin-top: 20px;
}

.foreword img {
    display: block;
    float:inline-start;
    margin: 5px;
    width: 14%;
}

.recipe ul {
    padding: 0px 30px 0 30px ;
}

li {
    list-style: disc ;
    padding: 2px;
}

li::marker {
    color: rgb(200, 0, 0);
    font-weight: 400;
}

.recipe h3 {
    color: rgb(200, 0, 0);
    margin-top: 10px;
    padding: 0px 15px 0 15px ;
    font-weight: bold;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 20px;
}

.recipe section {
    width: 32%;
    background-color: #eeeeee;
    border-radius: 15px;
}

.recipe p {
    background-color: rgb(200, 0, 0);
    border-radius: 0 0 15px 15px;
    padding: 10px;
    color: white;
    font-size: small;
}

.recipe section:nth-child(6) p {
    margin-top: 115px;
    padding-bottom: 25px;
}

.recipe img {
    display: block;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 185px;
}

.recipe p img {
    display: block;
    height: 14%;
    width: 14%;
    border-radius: 0%;
    float:inline-start;
    margin: 5px;
}